.UpdateTask {
    display: flex;
  justify-content: space-between;

.input{
  width: 95%;
}

  .taskStatusAndDelete{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 5px;
  }

}

