.SignInForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
}

.input {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.buttonContainer {
    display: flex;
    justify-content: space-between;
    .signInBtn {
        margin-top: 15px;
    }
}

