.ChangeUserPasswordForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    margin-top: 20px;

    .currentName{
        display: flex;
        gap: 20px;
    }

    .input {
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
    }

    .loginBtn {
        margin-top: 15px;
        margin-left: auto;
    }

}

