.app_pine_green_theme {
    --bg-color:linear-gradient(to bottom right, #16523c, #093028 );
    --inverted-bg-color: #FDFDFD;
    --primary-color: #FDFDFD;
    --secondary-color: #F3F1F1;
    --inverted-primary-color: #183A40;
    --inverted-secondary-color: #F3F1F1;

    // skeleton
    --skeleton-color: #ffff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #0d5037;

    // card
    --card-bg: #0f543c;
}
