.app_pine_green_theme {
    --bg-color: #0d4a34;
    --inverted-bg-color: #f4fbf8;
    --primary-color: #f4fbf8;
    --secondary-color: #dbeadb;
    --inverted-primary-color: #0d4a34;
    --inverted-secondary-color: #f4fbf8;

    // skeleton
    --skeleton-color: #ffff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #0d5037;

    // card
    --card-bg: #0f543c;
}
